.completeTask{
    width: 100%;
    background: rgba(13, 254, 13, 0.471);
    backdrop-filter: blur(1.5px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-goal{
    overflow-x: hidden;
    overflow-y: scroll;
}

.box-goal::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }
.box-goal::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

.box-goal::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 10px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
  }

.goal-animate{
  animation: inicio 3s ease-in-out;
}

@keyframes inicio{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}